*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border:blue solid;
    height: 640px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
}
.container>div{
    border: green solid;
    width: 6.25%;
}